*{
    font-family: open sans;
}


.product-list{
    width: 380px;
    height: 430px;
    box-shadow: 0px 0px 6px #00000029;
}
.product-title{
    width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.rating{
    background: rgba(0,0,0,0.5);
    color: #FFFFFF;
    padding: 2px 8px;
    width: fit-content;
}